html{
    scroll-behavior:smooth;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:grey;
}

#navbar {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f0f0f0;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction:row;
}

.nav-link {
    margin-right: 10px;
    text-decoration: none;
    color: #337ab7;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
}

#welcome-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
}
.map-container{
    width=100%;
    height=100%;
    style="border:0; position:absolute; top:0; left:0;" 
    justify-content:center;
    display:flex;
    justify-content:center;
    allign-items:center;
} 

#projects {
    padding: 20px;
}

.project-tile {
    background-color: #f0f0f0;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


@media (max-width:768px) {
    #navbar {
        flex-direction: column;
        align-items: center;
    }
    .nav-link {
        margin-right: 0;
        margin-bottom: 20px;
    }
}
